{{#if show}}
  {{freestyle-filterable-title title=title setFocus=(action 'setFocus')}}
  {{#freestyle-annotation}}
    <form class="FreestyleDynamic-form">
      {{freestyle-dynamic-fieldset
          dynamicProperties=dynamicProperties
          headerTitle=headerTitle
          changeValueTo=(action 'changeValueTo')
      }}
    </form>
  {{/freestyle-annotation}}

  {{#freestyle-usage slug
    isDynamic=true
    componentName=componentName
    dynamicProperties=dynamicProperties
  }}
    {{yield dynamicPropertyValues}}
  {{/freestyle-usage}}
{{/if}}
